body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:100%;
}
*{

    border-radius:0px;
}
a {
  color: #00B7FF;
}
h1 {font-size:40px;}
h2 {font-size:30px;}
h3 {font-size:20px;}
h4 {font-size:10px;}
h5 {font-size:8px;}
h6 {font-size:6px;}

#wrapper{
    
    margin-top:30px;
    width:90%;
    min-height:600px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
   
}



.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header{
    
    padding:2px;
    padding-left:40px;
    background:#665847;color:#FEFFFD;
}
.data-btn{padding-left:8px}
.data-btn button{
    padding:10px 20px;background:#FF9900;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
}

.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:2px 7px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}
.a-inside.content{background-color:#000066;color:#fff;}

input[type="text"]{
    
    border:1px solid #ddd;
    height:26px;
    width:300px;
}
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;
   

}
input[type="submit"]{

    border:1px solid #6599FF;color:#fff;
    padding:8px 35px;font-weight:bold;
    background:#6599FF;
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

#footer{margin-left:82%;margin-top:10%}

#body_red_alert {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:red;
  width:100%;
  height:100%;
}

#body_yellow_alert {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:yellow;
  width:100%;
  height:100%;
}

#body_green_alert {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:green;
  width:100%;
  height:100%;
}

.Table
  {
      display: table;
  }
  .Title
  {
      display: table-caption;
      text-align: center;
      font-weight: bold;
      font-size: larger;
  }
  .Heading
  {
      display: table-row;
      font-weight: bold;
      text-align: center;
  }
  .Row
  {
      display: table-row;
  }
  .Cell
  {
      display: table-cell;
      padding-left: 5px;
      padding-right: 5px;
  }

