<!DOCTYPE html>



<table width="90%">
    <tr>
        <td><div style="margin-left:60px;margin-top:20px">
              <b>Instructions:</b>
              <ul style="list-style-type: decimal;">
              <li>
              Double-click on a cell to edit.  Note only "Dashboard", "Descriptions", and "Updated By" are editable.  Edits are automatically saved to the database.
              </li>
              <li>
              To create a new Dashboard, click Add Dashboard button.  A new Dashboard row will appear that can be edited.  Edits are automatically saved to the database.
              </li>
              <li>
              To delete a Dashboard(s), first select a Dashboard Row(s) by checking the lefthand side checkmark and then click Delete Dashboard button.
              </li>
              </ul>
            </div></td>
        <td style="text-align:right; "><a href="#" ng-click="$back()">Back </a></td>
    </tr>
</table>


<br />
<br />
<div >
 
   <div  ui-grid="gridOptions" class="gridStyle" ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-auto-resize ui-grid-cellNav external-scopes="myExternalScope"></div>
   <button class="btn-success btn pull-left" ng-click="addNewRow()">Add Dashboard</button>
   <button class="col-md-offset-1 btn-danger btn pull-left" ng-disabled="selectedRows.length == 0" ng-click="deleteRows()">Delete Dashboards(s)</button>
 
</div>
 