<table width="90%">
    <tr>
        <td>
          <div class="row">

  
                    <div class="col-md-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Agile Governance Resources</h3>
                            </div>
                            <div class="panel-body">
                                &#8226;&nbsp;<a href="https://evestmentalliance.sharepoint.com/:x:/r/sites/Offerings-AgileGovernance/_layouts/15/Doc.aspx?sourcedoc=%7Babea9819-6b53-4cc4-a860-d356f2907544%7D&action=default&uid=%7BABEA9819-6B53-4CC4-A860-D356F2907544%7D&ListItemId=205&ListId=%7B8F842658-0560-46AD-86DE-19C0A7C432EE%7D&odsp=1&env=prod" target="_blank">Dev Resource Plan</a> &nbsp;<br />
                                &#8226;&nbsp;<a href="https://evestment.atlassian.net/wiki/spaces/AG/pages/750649371/ePP+Dashboard" target="_blank">eVestment Product Process (ePP) Dashboard</a> &nbsp;<br />
                                &#8226;&nbsp;<a href="https://evestmentalliance.sharepoint.com/:x:/r/sites/Offerings-AgileGovernance/_layouts/15/Doc.aspx?sourcedoc=%7B983d5f16-3f85-4b00-9ccf-9f4128493e10%7D&action=default&uid=%7B983D5F16-3F85-4B00-9CCF-9F4128493E10%7D&ListItemId=172&ListId=%7B8F842658-0560-46AD-86DE-19C0A7C432EE%7D&odsp=1&env=prod" target="_blank">Development Roadmap</a> &nbsp;<br />

                            </div>
                        </div>
                    </div><!-- /.col-md-6 -->
                </div><!-- /ROW -->           
  

      </td>
        <td style="text-align:right; vertical-align: top;"><a href="#" ng-click="$back()">Back </a></td>
    </tr>
</table>