<table width="90%">
    <tr>
        <td>
          <div class="row">

  
                    <div class="col-md-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Agile Governance Resources</h3>
                            </div>
                            <div class="panel-body">
                                &#8226;&nbsp;<a href="https://evestmentalliance.sharepoint.com/:x:/s/Offerings-AgileGovernance/EWuIYp0R1hJAr8m-soNyokMBiXCnvQAOd6tvyPKUBg1jfQ" target="_blank">Dev Resource Plan</a> &nbsp;<br />
                                &#8226;&nbsp;<a href="https://evestment.atlassian.net/wiki/spaces/AG/pages/750649371/ePP+Dashboard" target="_blank">eVestment Product Process (ePP) Dashboard</a> &nbsp;<br />
                                &#8226;&nbsp;<a href="https://evestmentalliance.sharepoint.com/:x:/s/Offerings-AgileGovernance/EYHYSzf3gSlGjdiNGVs1ncgBv9JIjmRE2J6AHDwAhtQGcw" target="_blank">Development Roadmap</a> &nbsp;<br />

                            </div>
                        </div>
                    </div><!-- /.col-md-6 -->
                </div><!-- /ROW -->           
  

      </td>
        <td style="text-align:right; vertical-align: top;"><a href="#" ng-click="$back()">Back </a></td>
    </tr>
</table>